.containers {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-content: space-around;
    background-color: #202124;
}

.box {
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
    background-color: #333436;
}

.img {
    /*height: 150px;*/
    width: 200px;
}

.name {
    max-width: 200px;
    word-break: keep-all;
    color: floralwhite;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.page {
    color: floralwhite;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}